openapi: 3.0.0
info:
  description: API to interact with the game of Mercatorio
  title: Mercatorio API
  version: 1.0.0
servers:
- description: Base API URL
  url: https://play.mercatorio.io/api
security:
- Bearer-Token: []
  X-Merc-User: []
paths:
  /player:
    get:
      operationId: playerInfo
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Player"
          description: The player corresponding to the API key used
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: No player found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unexpected error
      summary: Get the player information
      x-accepts:
      - application/json
  /buildings/{buildingID}:
    get:
      operationId: buildingInfo
      parameters:
      - explode: false
        in: path
        name: buildingID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Building"
          description: The building corresponding to the buildingID used
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: No building found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unexpected error
      summary: Get the building information
      x-accepts:
      - application/json
components:
  schemas:
    Player:
      example:
        bonus_points: 1.4894159098541704
        settings:
          sound_volume: 1.0246457001441578
          notifications:
            discord: true
            mutes: "{}"
          email:
            season_notifications: true
            marketing_emails: true
            character_export: true
        activity:
          score: 6.84685269835264
          index: 7.457744773683766
        household:
          prestige_impacts:
          - impact: impact
            factor: factor
          - impact: impact
            factor: factor
          legacy: legacy
          gender: gender
          sustenance:
            reference: reference
            provider_id: provider_id
            inventory:
              previous_flows:
                blades:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                harnesses:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                axes:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                bellows:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                cheese:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                cured meat:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                tiles:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                coats:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                flour:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                tackles:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                timber:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                premium swords:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                plate armour:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                beer:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                gears:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                premium cloth:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                sails:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                slaked lime:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                flax fibres:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                nails:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                silver bars:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                milk:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                mouldboards:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                cattle:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                spirits:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                leather:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                malt:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                books:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                raw cloth:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                spinning wheels:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                pickaxes:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                premium garments:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                wine:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                premium glassware:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                tin ingots:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                bells:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                manure:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                nets:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                tin ore:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                protection:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                tools:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                clay:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                labour:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                pasties:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                light armour:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                pies:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                copper ore:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                belts:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                casks:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                gold bars:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                bread:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                salt:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                medicine:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                gold ore:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                dyed yarn:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                alembics:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                garments:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                dye:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                glassware:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                fish:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                charcoal:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                premium axes:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                yarn:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                premium cheese:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                sculptures:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                wheels:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                wool:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                chisels:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                lead bars:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                wrought iron:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                ox power:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                grindstones:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                premium ham:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                silver ore:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                premium sails:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                furniture:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                ham:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                limestone:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                firewood:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                steel ingots:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                cured fish:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                grain:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                hides:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                logs:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                glass:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                tar:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                cookware:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                copper ingots:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                resin:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                arms:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                premium armour:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                cloth:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                rope:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                ploughs:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                carting:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                candles:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                tapestries:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                herbs:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                lathes:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                looms:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                paper:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                premium steel:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                honey:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                hinges:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                iron ore:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                lodging:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                premium dye:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                dyed cloth:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                butter:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                fleece:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                swords:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                thread:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                windows:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                wax:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                bronze ingots:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                flax plants:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                scythes:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                jewellery:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                stockfish:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                lead ore:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                meat:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
                hop beer:
                  production_cost: production_cost
                  import_cost: import_cost
                  inbound_cost: inbound_cost
                  import: import
                  export_cost: export_cost
                  production: production
                  inbound: inbound
                  consumption_cost: consumption_cost
                  consumption: consumption
                  outbound_value: outbound_value
                  outbound_cost: outbound_cost
                  outbound: outbound
                  export: export
                  export_value: export_value
              reserved: 9.301444243932576
              flows:
                blades:
                  projection:
                    production_cost: production_cost
                    import_cost: import_cost
                    inbound_cost: inbound_cost
                    import: import
                    export_cost: export_cost
                    production: production
                    inbound: inbound
                    consumption_cost: consumption_cost
                    consumption: consumption
                    outbound_value: outbound_value
                    outbound_cost: outbound_cost
                    outbound: outbound
                    export: export
                    export_value: export_value
                harnesses:
                  projection:
                    production_cost: production_cost
                    import_cost: import_cost
                    inbound_cost: inbound_cost
                    import: import
                    export_cost: export_cost
                    production: production
                    inbound: inbound
                    consumption_cost: consumption_cost
                    consumption: consumption
                    outbound_value: outbound_value
                    outbound_cost: outbound_cost
                    outbound: outbound
                    export: export
                    export_value: export_value
                axes:
                  projection:
                    production_cost: production_cost
                    import_cost: import_cost
                    inbound_cost: inbound_cost
                    import: import
                    export_cost: export_cost
                    production: production
                    inbound: inbound
                    consumption_cost: consumption_cost
                    consumption: consumption
                    outbound_value: outbound_value
                    outbound_cost: outbound_cost
                    outbound: outbound
                    export: export
                    export_value: export_value
                bellows:
                  projection:
                    production_cost: production_cost
                    import_cost: import_cost
                    inbound_cost: inbound_cost
                    import: import
                    export_cost: export_cost
                    production: production
                    inbound: inbound
                    consumption_cost: consumption_cost
                    consumption: consumption
                    outbound_value: outbound_value
                    outbound_cost: outbound_cost
                    outbound: outbound
                    export: export
                    export_value: export_value
                cheese:
                  projection:
                    production_cost: production_cost
                    import_cost: import_cost
                    inbound_cost: inbound_cost
                    import: import
                    export_cost: export_cost
                    production: production
                    inbound: inbound
                    consumption_cost: consumption_cost
                    consumption: consumption
                    outbound_value: outbound_value
                    outbound_cost: outbound_cost
                    outbound: outbound
                    export: export
                    export_value: export_value
                cured meat:
                  projection:
                    production_cost: production_cost
                    import_cost: import_cost
                    inbound_cost: inbound_cost
                    import: import
                    export_cost: export_cost
                    production: production
                    inbound: inbound
                    consumption_cost: consumption_cost
                    consumption: consumption
                    outbound_value: outbound_value
                    outbound_cost: outbound_cost
                    outbound: outbound
                    export: export
                    export_value: export_value
                tiles:
                  projection:
                    production_cost: production_cost
                    import_cost: import_cost
                    inbound_cost: inbound_cost
                    import: import
                    export_cost: export_cost
                    production: production
                    inbound: inbound
                    consumption_cost: consumption_cost
                    consumption: consumption
                    outbound_value: outbound_value
                    outbound_cost: outbound_cost
                    outbound: outbound
                    export: export
                    export_value: export_value
                coats:
                  projection:
                    production_cost: production_cost
                    import_cost: import_cost
                    inbound_cost: inbound_cost
                    import: import
                    export_cost: export_cost
                    production: production
                    inbound: inbound
                    consumption_cost: consumption_cost
                    consumption: consumption
                    outbound_value: outbound_value
                    outbound_cost: outbound_cost
                    outbound: outbound
                    export: export
                    export_value: export_value
                flour:
                  projection:
                    production_cost: production_cost
                    import_cost: import_cost
                    inbound_cost: inbound_cost
                    import: import
                    export_cost: export_cost
                    production: production
                    inbound: inbound
                    consumption_cost: consumption_cost
                    consumption: consumption
                    outbound_value: outbound_value
                    outbound_cost: outbound_cost
                    outbound: outbound
                    export: export
                    export_value: export_value
                tackles:
                  projection:
                    production_cost: production_cost
                    import_cost: import_cost
                    inbound_cost: inbound_cost
                    import: import
                    export_cost: export_cost
                    production: production
                    inbound: inbound
                    consumption_cost: consumption_cost
                    consumption: consumption
                    outbound_value: outbound_value
                    outbound_cost: outbound_cost
                    outbound: outbound
                    export: export
                    export_value: export_value
                timber:
                  projection:
                    production_cost: production_cost
                    import_cost: import_cost
                    inbound_cost: inbound_cost
                    import: import
                    export_cost: export_cost
                    production: production
                    inbound: inbound
                    consumption_cost: consumption_cost
                    consumption: consumption
                    outbound_value: outbound_value
                    outbound_cost: outbound_cost
                    outbound: outbound
                    export: export
                    export_value: export_value
                premium swords:
                  projection:
                    production_cost: production_cost
                    import_cost: import_cost
                    inbound_cost: inbound_cost
                    import: import
                    export_cost: export_cost
                    production: production
                    inbound: inbound
                    consumption_cost: consumption_cost
                    consumption: consumption
                    outbound_value: outbound_value
                    outbound_cost: outbound_cost
                    outbound: outbound
                    export: export
                    export_value: export_value
                plate armour:
                  projection:
                    production_cost: production_cost
                    import_cost: import_cost
                    inbound_cost: inbound_cost
                    import: import
                    export_cost: export_cost
                    production: production
                    inbound: inbound
                    consumption_cost: consumption_cost
                    consumption: consumption
                    outbound_value: outbound_value
                    outbound_cost: outbound_cost
                    outbound: outbound
                    export: export
                    export_value: export_value
                beer:
                  projection:
                    production_cost: production_cost
                    import_cost: import_cost
                    inbound_cost: inbound_cost
                    import: import
                    export_cost: export_cost
                    production: production
                    inbound: inbound
                    consumption_cost: consumption_cost
                    consumption: consumption
                    outbound_value: outbound_value
                    outbound_cost: outbound_cost
                    outbound: outbound
                    export: export
                    export_value: export_value
                gears:
                  projection:
                    production_cost: production_cost
                    import_cost: import_cost
                    inbound_cost: inbound_cost
                    import: import
                    export_cost: export_cost
                    production: production
                    inbound: inbound
                    consumption_cost: consumption_cost
                    consumption: consumption
                    outbound_value: outbound_value
                    outbound_cost: outbound_cost
                    outbound: outbound
                    export: export
                    export_value: export_value
                premium cloth:
                  projection:
                    production_cost: production_cost
                    import_cost: import_cost
                    inbound_cost: inbound_cost
                    import: import
                    export_cost: export_cost
                    production: production
                    inbound: inbound
                    consumption_cost: consumption_cost
                    consumption: consumption
                    outbound_value: outbound_value
                    outbound_cost: outbound_cost
                    outbound: outbound
                    export: export
                    export_value: export_value
                sails:
                  projection:
                    production_cost: production_cost
                    import_cost: import_cost
                    inbound_cost: inbound_cost
                    import: import
                    export_cost: export_cost
                    production: production
                    inbound: inbound
                    consumption_cost: consumption_cost
                    consumption: consumption
                    outbound_value: outbound_value
                    outbound_cost: outbound_cost
                    outbound: outbound
                    export: export
                    export_value: export_value
                slaked lime:
                  projection:
                    production_cost: production_cost
                    import_cost: import_cost
                    inbound_cost: inbound_cost
                    import: import
                    export_cost: export_cost
                    production: production
                    inbound: inbound
                    consumption_cost: consumption_cost
                    consumption: consumption
                    outbound_value: outbound_value
                    outbound_cost: outbound_cost
                    outbound: outbound
                    export: export
                    export_value: export_value
                flax fibres:
                  projection:
                    production_cost: production_cost
                    import_cost: import_cost
                    inbound_cost: inbound_cost
                    import: import
                    export_cost: export_cost
                    production: production
                    inbound: inbound
                    consumption_cost: consumption_cost
                    consumption: consumption
                    outbound_value: outbound_value
                    outbound_cost: outbound_cost
                    outbound: outbound
                    export: export
                    export_value: export_value
                nails:
                  projection:
                    production_cost: production_cost
                    import_cost: import_cost
                    inbound_cost: inbound_cost
                    import: import
                    export_cost: export_cost
                    production: production
                    inbound: inbound
                    consumption_cost: consumption_cost
                    consumption: consumption
                    outbound_value: outbound_value
                    outbound_cost: outbound_cost
                    outbound: outbound
                    export: export
                    export_value: export_value
                silver bars:
                  projection:
                    production_cost: production_cost
                    import_cost: import_cost
                    inbound_cost: inbound_cost
                    import: import
                    export_cost: export_cost
                    production: production
                    inbound: inbound
                    consumption_cost: consumption_cost
                    consumption: consumption
                    outbound_value: outbound_value
                    outbound_cost: outbound_cost
                    outbound: outbound
                    export: export
                    export_value: export_value
                milk:
                  projection:
                    production_cost: production_cost
                    import_cost: import_cost
                    inbound_cost: inbound_cost
                    import: import
                    export_cost: export_cost
                    production: production
                    inbound: inbound
                    consumption_cost: consumption_cost
                    consumption: consumption
                    outbound_value: outbound_value
                    outbound_cost: outbound_cost
                    outbound: outbound
                    export: export
                    export_value: export_value
                mouldboards:
                  projection:
                    production_cost: production_cost
                    import_cost: import_cost
                    inbound_cost: inbound_cost
                    import: import
                    export_cost: export_cost
                    production: production
                    inbound: inbound
                    consumption_cost: consumption_cost
                    consumption: consumption
                    outbound_value: outbound_value
                    outbound_cost: outbound_cost
                    outbound: outbound
                    export: export
                    export_value: export_value
                cattle:
                  projection:
                    production_cost: production_cost
                    import_cost: import_cost
                    inbound_cost: inbound_cost
                    import: import
                    export_cost: export_cost
                    production: production
                    inbound: inbound
                    consumption_cost: consumption_cost
                    consumption: consumption
                    outbound_value: outbound_value
                    outbound_cost: outbound_cost
                    outbound: outbound
                    export: export
                    export_value: export_value
                spirits:
                  projection:
                    production_cost: production_cost
                    import_cost: import_cost
                    inbound_cost: inbound_cost
                    import: import
                    export_cost: export_cost
                    production: production
                    inbound: inbound
                    consumption_cost: consumption_cost
                    consumption: consumption
                    outbound_value: outbound_value
                    outbound_cost: outbound_cost
                    outbound: outbound
                    export: export
                    export_value: export_value
                leather:
                  projection:
                    production_cost: production_cost
                    import_cost: import_cost
                    inbound_cost: inbound_cost
                    import: import
                    export_cost: export_cost
                    production: production
                    inbound: inbound
                    consumption_cost: consumption_cost
                    consumption: consumption
                    outbound_value: outbound_value
                    outbound_cost: outbound_cost
                    outbound: outbound
                    export: export
                    export_value: export_value
                malt:
                  projection:
                    production_cost: production_cost
                    import_cost: import_cost
                    inbound_cost: inbound_cost
                    import: import
                    export_cost: export_cost
                    production: production
                    inbound: inbound
                    consumption_cost: consumption_cost
                    consumption: consumption
                    outbound_value: outbound_value
                    outbound_cost: outbound_cost
                    outbound: outbound
                    export: export
                    export_value: export_value
                books:
                  projection:
                    production_cost: production_cost
                    import_cost: import_cost
                    inbound_cost: inbound_cost
                    import: import
                    export_cost: export_cost
                    production: production
                    inbound: inbound
                    consumption_cost: consumption_cost
                    consumption: consumption
                    outbound_value: outbound_value
                    outbound_cost: outbound_cost
                    outbound: outbound
                    export: export
                    export_value: export_value
                raw cloth:
                  projection:
                    production_cost: production_cost
                    import_cost: import_cost
                    inbound_cost: inbound_cost
                    import: import
                    export_cost: export_cost
                    production: production
                    inbound: inbound
                    consumption_cost: consumption_cost
                    consumption: consumption
                    outbound_value: outbound_value
                    outbound_cost: outbound_cost
                    outbound: outbound
                    export: export
                    export_value: export_value
                spinning wheels:
                  projection:
                    production_cost: production_cost
                    import_cost: import_cost
                    inbound_cost: inbound_cost
                    import: import
                    export_cost: export_cost
                    production: production
                    inbound: inbound
                    consumption_cost: consumption_cost
                    consumption: consumption
                    outbound_value: outbound_value
                    outbound_cost: outbound_cost
                    outbound: outbound
                    export: export
                    export_value: export_value
                pickaxes:
                  projection:
                    production_cost: production_cost
                    import_cost: import_cost
                    inbound_cost: inbound_cost
                    import: import
                    export_cost: export_cost
                    production: production
                    inbound: inbound
                    consumption_cost: consumption_cost
                    consumption: consumption
                    outbound_value: outbound_value
                    outbound_cost: outbound_cost
                    outbound: outbound
                    export: export
                    export_value: export_value
                premium garments:
                  projection:
[...]
